* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.bar {
  width: 600px;
  height: 75px;
  /* border: 1px solid red; */
  margin: 0 auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  background-color: #424f46;
  color: #d1b271;
  border-radius: 7px 7px 0 0;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 600px;
  height: 50px;
  background-color: #424f46;
  color: #d1b271;
  font-size: 23px;
  border-radius: 0 0 7px 7px;
}

.grid-wrapper {
  /* border: 2px solid green; debugging */
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* center */
  align-items: center; /* center */
  flex-direction: column;
  background-image: url("../Images/homerdonut.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.grid {
  /* border: 2px solid red; debugging */
  align-items: center;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: #d1b271;
}

.grid div {
  /* border: 1px solid lightgrey; */
  flex-grow: 1;
  height: 5%;
  width: 5%; /*10% */
  font-size: 12px; /* font-size added */
}

.grid div.homer {
  background-image: url("../Images/homerhead.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.donuts {
  /* background-color: yellow; */
  border-radius: 1000px;
  background-image: url("../Images/donut.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.superDonuts {
  /* background-color: green;
  border-radius: 10px; */
  background-image: url("../Images/greendonut.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.wall {
  background-color: #424f46;
  border: 1.5px solid #fed90f;
  border-radius: 9px;
}

.ghostLair {
  background-color: #d1b271;
}

.greenAlien {
  /* background-color: green; */
  /* border-radius: 20px; */
  /* color: green; */
  background-image: url("../Images/moe.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.blueAlien {
  /* background-color: blue;
  border-radius: 20px; */
  /* background-image: url("../Images/pac.png"); */
  background-image: url("../Images/mrburns.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.orangeAlien {
  /* background-color: orange;
  border-radius: 20px; */
  /* background-image: url("../Images/pac.png"); */
  background-image: url("../Images/nelson.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.redAlien {
  /* background-color: red;
  border-radius: 20px; */
  /* background-image: url("../Images/pac.png"); */
  background-image: url("../Images/sideshow bob.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.alien {
}

.scared-alien {
  /* background-color: blue; */
  background-image: url("../Images/alien.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.blue {
  background-color: blue;
}

.gate {
  border-top: 3px solid black;
}

.tester {
  background-color: blue;
  text-align: center;
  font-size: 30px;
  line-height: 28px;
  color: red;
  font-weight: 900;
}

.ready {
  background-color: blue;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  color: red;
  font-weight: 900;
}
